.center-on-page {
    position: relative;
    background-color: #d4d4d4;
    width: 96%;
    margin: 0 auto;
    border-radius: 0 0 0 10px;
    height: 2em;
    padding: 5px 0;
}
h1 {
    text-align: center;
}
/* Reset Select */
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #3b5f8c;
}
/* Custom Select */
.select {
    position: absolute;
    right: 0;
    display: block;
    width: 10em;
    line-height: 2;
    background: #3b5f8c;
    overflow: hidden;
    border-radius: .25em;
}
select {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0 0 0 .5em;
    color: #fff;
    cursor: pointer;
}
select::-ms-expand {
    display: none;
}
/* Arrow */
.select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 0 1em;
    background: #34495e;
    pointer-events: none;
}
/* Transition */
.select:hover::after {
    color: #f39c12;
}
.select::after {
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
}

input[type="file"] {
    display: none;
}

.inputFile {
    background-image: url("../static/backrounds/back3.png");
    position: relative;
    font-family: "Comic Sans MS";
    font-size: 18px;
    text-align: center;
    width: 100%;
    z-index: 100;
    border: 1px solid #ccc;
    display: inline-block;
    padding: 11px 0;
    top: 2.5px;
    cursor: pointer;
    border-radius: .25em;
}
